{% extends 'catalog/base.html' %}
{% load my_media %}
{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Skystore</h1>
        <p class="lead">Skystore </p>
    </div>
    <a href="{% url 'blog:create' %}" class="btn btn-sm btn-outline-secondary">Create</a>

    <div class="row d-flex">
        {% for blog in blogentre_list %}
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ blog.title }}</h5>
                        <p class="card-text">{{ blog.content|truncatechars:100 }}</p>
                        <p class="lead">Фото: <img src="{{ blog.preview_image| my_media }}" class="img-thumbnail"
                                                   alt="{{ blog.title }}"></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'blog:detail' blog.slug %}" class="btn btn-sm btn-outline-secondary">View</a>
                                {% if blog.slug %}
                                    <a href="{% url 'blog:delete' blog.slug %}" class="btn btn-sm btn-outline-secondary">Delete</a>
                                {% else %}
                                    <span class="text-muted">Cannot delete</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
