{% extends 'catalog/base.html' %}
{% load my_media %}
{% block content %}
<h1>Product Detail</h1>

<p>Name: {{ product.name }}</p>
<p>Description: {{ product.description }}</p>
<p>Category: {{ product.category }}</p>
<p>Price: {{ product.price }}</p>
<img src="{{ product.image|my_media }}" class="img-thumbnail" alt="{{ product.name }}">
<p>Views: {{ product.view_count }}</p>

<div>
    <a href="{% url 'catalog:product_update' product.pk %}">Update</a>
    <a href="{% url 'catalog:product_delete' product.pk %}">Delete</a>
</div>

{% endblock %}
